.profile-card {
  background-color: white;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */

  margin: 3em 1em 1em 1em;
  padding: 1em 1.8em;
  width: 50vw;
  max-width: 700px;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.profile-image {
  width: 20vw;
  max-width: 300px;

  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-company-info {
  margin: 0;
}
.profile-user-info {
  margin: 0.5em;
}

.edit-profile {
  display: flex;
  justify-content: flex-end;
}

.profile-content {
  text-align: center;
}

.applications-heading {
  margin: 1em;
}
