.Card,
.jobCard {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1em;
  padding: 1.2em 2.4em;
  padding-left: 0.8em;
  width: 75vw;
  max-width: 700px;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.img-job-info {
  display: flex;
  align-items: center;
}
.job-info,
.job-result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Card-img {
  height: 6em;
  width: 6em;
  margin-left: 1em;
  margin-right: 2.5em;
  padding-left: 0;
}

#sal-eq,
#user-result-info {
  margin-top: 0;
}
.company-name {
  margin-top: 1em;
}

.applyButton,
.viewButton,
.appliedButton {
  background-color: #00695c;
  color: white;
  font-size: 0.875rem;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#equity {
  margin-right: 1em;
}

.job-result-info {
  margin-left: 2em;
}

.viewButton:hover,
.applyButton:hover {
  cursor: pointer;
  padding: 0.55em 1.55em;
  background-color: #48a999;
}

.appliedButton {
  background-color: rgb(49, 115, 190);
}
