.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container img {
  margin-top: 5%;
  width: 30%;
}

.login-form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 3%;
  width: 30%;
}

.login-form-container > form {
  width: 75%;
}

.login-form-row {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.login-form-row > label {
  padding: 0.5rem 0 0.5rem 0;
  flex: 1;
}

.login-form-row > input {
  border-radius: 3px;
  border: 1px solid darkgray;
  flex: 2;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-form-row > button {
  background-color: #00695c;
  color: white;
  font-size: 0.875rem;
  border: none;
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.login-form-row > button:hover {
  cursor: pointer;
  background-color: #48a999;
}

.signup-link {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
